body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ee0000;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav button {
    margin: 0 5px;
    padding: 10px 15px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #ddd;
}

section {
    padding: 20px;
}

#auth-section {
    text-align: center;
    margin-top: 100px;
}

#auth-section input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
}

#auth-section button {
    padding: 10px 20px;
    background-color: #ee0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#auth-section button:hover {
    background-color: #bf0808;
}

#content {
    margin-top: 20px;
}

.quarter-filter.active {
    background-color: #ee0000;
    color: white;
    font-weight: bold;
    border: 1px solid #000000;
    outline: none;
}

.quarter-filter {
    margin: 2px 5px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.quarter-filter:hover {
    background-color: #bbbbbb;
}

.btn-class {
    margin: 2px 5px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.btn-class:hover {
    background-color: #bbbbbb;
}

/* Styling für das Dropdown-Menü */
select {
    margin: 2px 5px;
    padding: 5px 10px;
    background-color: #dddddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

/* Hover-Effekt für das Dropdown */
select:hover {
    background-color: #bbbbbb;
}

/* Styling für das ausgewählte Element im Dropdown */
select:focus {
    background-color: #ee0000;
    color: white;
    border: 1px solid #000000;
}

/* Styling für die Optionen innerhalb des Dropdowns */
option {
    background-color: #ffffff;
    color: black;
}

/* Option Hover-Effekt */
option:hover {
    background-color: #f1f1f1;
}

footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0078D4;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer:hover {
    background-color: #005A9E;
}

/* Stil für den Scroll-Button */
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Damit der Button immer oben auf anderen Elementen bleibt */
    display: none; /* Der Button wird anfangs nicht angezeigt */
}

/* Stil für den Button */
.scroll-button button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dddddd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scroll-button button:hover {
    background-color: #ee0000;
}

.additional-points-container {
    display: flex;
    flex-direction: column;
}

.additional-point {
    display: flex;
    align-items: center;
}

.additional-point label {
    flex: 1;
    margin-right: 10px;
}

.additional-point .checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-right: 5px;
}

.checkbox-group {
    align-self: start;
}
